@charset "UTF-8";
:root{
    --body-width: 100vw;
    --body-height: 100vh;
}


@media(min-width: 992px){
    :root{
        --logo-outer-width: 16.2rem;
        --app-bar-height: 80px;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 3rem;
    }
}
@media(min-width: 810px){
    :root{
        --logo-outer-width: 15.7rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
    }
}
@media(min-width: 768px){
    :root{
        --logo-outer-width: 14.5rem;
        --app-bar-height: 80px;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.7rem;
    }
    #app-bar{
        height: var(--app-bar-height) !important;
    }
    #sobre-nos-index .img-container-layout-fill,
    #fale-conosco .img-container-layout-fill{
        height: 330px;
    }
    #sobre-a-empresa .text-box-float-inner > div,
    #fale-conosco .text-box-float-inner > div {
        margin-top: 3rem;   
    }
    /*------------Página inicial-------------*/
    #sobre-nos-index .img-container-layout-fill{
        height: 100%;
    }
    #sobre-nos-index .text-box-float .text-box-float-inner{
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    #atuacao ul{
        min-width: 86%;
    }
    #atuacao #list-content{
        justify-content: end !important;
    }
    #atuacao #list-content .list-item-context{
        justify-content: end;
    }
    /*--------------------------------------*/
    /*---------Página quem somos------------*/
    #sobre-a-empresa .section{
        min-height: 470px;
    }
    /*------------------------------*/
    #fale-conosco .text-box-float{
        z-index: 2;
        margin-top: -50px;
        background-color: rgba(255, 255, 255, 0.6);
    }  
    /*---------Página Fale cononsco---------*/
    #fale-conosco #contacts > div{
        align-items: flex-end;
    }  
    /*------------------------------------*/
    /*--------Página Nossos serviços-------*/
    .professional-area{
        max-width: 67%;
    }
    .professional-area .area-icon{
        font-size: 4.5rem;
    }
    .professional-avatar .professional-pic{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100px
    }
    
    /*------------------------------------*/
}
@media(max-width: 767px){
    /*-------------Regras gerais---------------*/
    .text-box-float .text-box-float-inner{
        background-color: rgba(255, 255, 255, 0.6);
        margin-left: 3rem !important;
        margin-bottom: 80px;
        margin-right: 3rem !important;
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    /*----------------------------------------*/
    /*-----------Página inicial-----------------*/
    #sobre-nos-index{
        padding-left: 0px  !important;
        padding-right: 0px  !important;
    }
    #sobre-nos-index .img-container-layout-fill,
    #sobre-a-empresa .img-container-layout-fill,
    #fale-conosco .img-container-layout-fill{
        min-height: 220px;
        max-height: 280px;
    }    
    #sobre-nos-index .description, .text-box-float{
        order: 2;
        position: relative;
        z-index: 2;
    }
    #atuacao #list-content{
        height: 400px !important;
        justify-content: center !important;
    }
    #atuacao #list-content .list-item-context{
        justify-content: center;
    }
    #atuacao ul, #atuacao #list-content .list-item-context{
        min-width: 90%;
    }
    #sobre-nos-index .text-box-float-inner{
        margin-top: -5rem;
    }
    #sobre-a-empresa .text-box-float-inner,
    #fale-conosco .text-box-float-inner{
        margin-top: -8rem;   
    }
    /*---------------------------------*/
    /*-------Página Quem somos---------*/
    #sobre-a-empresa #section-4 #map{
        min-height: 450px;
    }
    /*------------------------------*/
    /*---------Página Fale conosco---------*/
    #fale-conosco .text-box-float-inner{
        margin-bottom: 16rem;   
    }
    #fale-conosco #contacts > div{
        align-items: center;
    }  
    /*-------------------------------------*/
            /*--------Página Nossos serviços-------*/
            .professional-area{
                max-width: 100%;
            }
            .professional-area .area-icon{
                font-size: 4.5rem;
            }
            .professional-pic-container{
                position: relative;
                z-index: 2;
            }
            .professional-avatar-pic-container > div{
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100px;
                position: relative;
                margin-top: -16px;
                margin-left: 50%;
            }
            
            /*------------------------------------*/
}
@media(min-width: 600px){
    :root{
        --app-bar-height: 64px;
    }
    #app-bar{
        height: var(--app-bar-height) !important;
    }
    #page-content, #hero{
        height: calc(var(--body-height) - var(--app-bar-height)) !important;
        top: var(--app-bar-height);
    }
}
@media(min-width: 0px) and (max-width: 599px){
    :root{
        --app-bar-height: 70px;
    }
    #app-bar{
        height: var(--app-bar-height) !important;
    }
     #page-content, #hero{
        height: calc(100vh - var(--app-bar-height)) !important;
        top: var(--app-bar-height);
    }
}
@media(min-width: 576px) and (max-width: 767px){
    :root{
        --logo-outer-width: 14.1rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.5rem;
    }
    .menu-btn{
        width: calc(100% - var(--logo-outer-width)) !important;
    }

}
@media(max-width: 575px){
    /*---------Regras gerais-----*/
    .text-box-float .text-box-float-inner{
        background-color: rgba(255, 255, 255, 0.6);
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    #sobre-a-empresa .text-box-float-inner,
    #fale-conosco .text-box-float-inner{
        margin-top: -12rem;
    }
    /*--------------------------------*/
    /*---------Pagina inicial-----------*/
    #sobre-nos-index .description > div {
        margin-left: 1.2rem !important;
        margin-right: 1.2rem !important;
    }
    #sobre-nos-index .text-box-float-inner{
        margin-top: -9rem;
    }
    /*---------------------------*/
}
@media(min-width: 480px) and (max-width: 575px){
    :root{
        --logo-outer-width: 12.8rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.4rem;
    }
    .menu-btn{
        width: calc(100% - var(--logo-outer-width)) !important;
    }
}
@media(max-width: 404px){
    /* h1{
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.8rem  !important; 
    } */
}
@media(min-width: 281px ) and (max-width: 479px){
    :root{
        --logo-outer-width: 10.2rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.1rem;
    }
    .menu-btn{
        width: calc(100% - var(--logo-outer-width)) !important;
    }
    
}



/*--------Regras gerais------------*/
body{
    width: var(--body-width);
    height: var(--body-height);
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
}
.relative{
    position: relative !important;
}
.hide{
    display: none !important;
}
button:focus{
    outline: none !important;
}
.nav-toolbar{
    height: 100% !important;
}
.navbar-logo{
    height: 100%;
}
#nav-desktop{
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: inline-flex;
    list-style: none;
}
#mobile-nav-app-bar #mobile-nav-control button{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#mobile-nav-app-bar #mobile-nav-control .navbar-toggler{
    font-size: 1.5rem;
}
.nav-a{
    text-decoration: none !important;
    color: unset;
}
#mobile-nav-content{
    width: 80vw;
    height: calc(100vh - 69px);
    position: absolute;
    top: 69px;
    left: 0;
    z-index: 2;
    --animate-duration: 0.4s;
}
#hero img{
    filter: brightness(0.87);
}
#hero #hero-content{
    position: relative;
    filter: drop-shadow(0 0 0.75rem black);
}
#hero #hero-content h1{
    font-weight: 700;
}
#hero #hero-content p{
    font-weight: 500;
}
.img-container-layout-fill img,
.navbar-logo .logo-outer img {
    width: 100% !important;
    height: 100% !important; 
}
.img-container-layout-fill > span,
.navbar-logo .logo-outer > span{
    display: unset  !important;
    width: 100% !important;
    height: 100% !important;
} 
.img-container-layout-fill > span > span,
.navbar-logo .logo-outer > span > span {
    position:unset !important;
    display: unset !important;
} 
.img-container-layout-fill img,
.navbar-logo .logo-outer img {
    max-width: unset !important;
    min-width: unset !important;
    max-height: unset !important;
    min-height: unset !important;
    position: unset !important;
} 
#new-section{
    width: 100vw;
    height: 100vh;    
}
#sobre-nos-index  i{
    width: 70px;
    height: 70px;
}
#atuacao .list-container{
    position: relative;
    z-index: 2;
}
#atuacao .list-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#atuacao .list-container ul .active > span:after {
    position: absolute;
    top: 20px;
    bottom: 10px;
    right: -1px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
}
#atuacao #list-content .list-item-context i{
    font-size: 5rem !important;
}
#sobre-a-empresa #img-1 > div, #fale-conosco #img-1 > div {
    height: 100% !important; 
}

/*-----Página quem-somos -----*/
#sobre-a-empresa #section-3 i {
    font-size: 7rem;
}
#sobre-a-empresa #section-4 #map{
    height: 100%;
}
/*----------------------------*/

/*--------Página Fale consosco---------*/
#fale-conosco  #subject{
    border-color: #ced4da;
    border-radius: 5px;
    outline: none;
}
.facebook-btn-logo{
    color: rgb(96, 107, 255);
}
.whatsapp-btn-logo{
    color: rgb(98, 177, 115)
}
.instagram-btn-logo{
    color: rgb(229 121 121);
}
/*---------------------------------*/




