@charset "UTF-8";
:root{
    --body-width: 100vw;
    --body-height: 100vh;
}

@media(min-width: 992px){
    :root{
        --logo-outer-width: 16.2rem;
        --app-bar-height: 80px;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 3rem;
    }
    #nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .top-container {
        flex-direction: row;
    }
    #nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .top-container h5{
        text-align: start;
    }
}
@media(min-width: 810px){
    :root{
        --logo-outer-width: 15.7rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
    }
}
@media(min-width: 768px){
    /*----------Regras gerais---------------*/
    :root{
        --logo-outer-width: 14.5rem;
        --app-bar-height: 80px;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.7rem;
    }
    #app-bar{
        height: var(--app-bar-height) !important;
    }
    .float-content-default:not(#sobre-a-empresa .float-content-default){
        background-color: rgba(255, 255, 255, 0.6);
        z-index: 2;
        margin-top: -10rem !important;
        margin-bottom: 10rem !important;
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    #sobre-nos-index .img-container-layout-fill,
    #fale-conosco .img-container-layout-fill,
    #nossos-servicos .img-container-layout-fill,
    #localizacao .img-container-layout-fill{
        height: 330px;
    }
    #sobre-a-empresa .text-box-float-inner > div,
    #fale-conosco .text-box-float-inner > div {
        margin-top: 3rem;   
    }
    .section{
        min-height: 470px;
    }
    /*---------------------------------------*/
    /*------------Página inicial-------------*/
    #sobre-nos-index .img-container-layout-fill{
        height: 100%;
    }
    #sobre-nos-index .text-box-float .text-box-float-inner{
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
    #atuacao ul{
        min-width: 86%;
    }
    #atuacao #list-content{
        justify-content: end !important;
    }
    #atuacao #list-content .list-item-context{
        justify-content: end;
    }
    /*--------------------------------------*/

    /*-----Página Fale cononsco----*/
    #fale-conosco #contacts > div{
        align-items: flex-end;
    }  
    /*------------------------------------*/
    /*--------Página Nossos serviços-------*/
    #nossos-servicos #pratice-areas .pratice-area .pratice-area-professional{
        flex-direction: column;
    }
    #nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .top-container {
        margin-right: 14px;
        margin-left: 8px;
        flex-direction: column;
    }
    #nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .top-container h5{
        text-align: center;
        margin-left: 10px;
    }
    /*------------------------------------*/
}
@media(max-width: 767px){
    /*-------------Regras gerais---------------*/
    .order-2-mobile{
        order: 2;
    }
    .float-content-default, .float-content-alt{
        background-color: rgba(255, 255, 255, 0.6);
    }
    .float-content-default{
        z-index: 2;
        margin-top: -8rem !important;
        margin-bottom: 5.5rem !important;
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    .float-content-alt{
        z-index: 2;
        margin-left: 3rem !important;
        margin-top: -6rem;
        /* margin-bottom: 80px; */
        margin-right: 3rem !important;
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }

    /*----------------------------------------*/
    /*-----------Página inicial-----------------*/
    #sobre-nos-index{
        padding-left: 0px  !important;
        padding-right: 0px  !important;
    }
    #sobre-nos-index .img-container-layout-fill,
    #sobre-a-empresa .img-container-layout-fill,
    #fale-conosco .img-container-layout-fill,
    #nossos-servicos .img-container-layout-fill:not(#nossos-servicos .pratice-area-professional .pic-container),
    #localizacao .img-container-layout-fill{
        min-height: 220px;
        max-height: 280px;
    }    
    #atuacao #list-content{
        padding-top: 80px;
        height: 400px !important;
        justify-content: center !important;
    }
    #atuacao #list-content .list-item-context{
        justify-content: center;
    }
    #atuacao ul, #atuacao #list-content .list-item-context{
        min-width: 90%;
    }
    #sobre-nos-index .text-box-float-inner{
        margin-top: -5rem;
    }
    #sobre-a-empresa .text-box-float-inner,
    #fale-conosco .text-box-float-inner{
        top: -8rem !important;   
        margin-bottom: -8rem !important;
    }
    .map{
        min-height: 450px;
    }
    /*---------------------------------*/

    /*---------Página Fale conosco---------*/
    #fale-conosco .text-box-float-inner{
        margin-bottom: 16rem;   
    }
    #fale-conosco #contacts > div{
        align-items: center;
    }  
    /*-------------------------------------*/
    /*--------Página Nossos serviços-------*/

    #nossos-servicos #pratice-areas .pratice-area h4{
        text-align: center;
    }
    #nossos-servicos #pratice-areas .pratice-area .pratice-area-professional{
        position: relative;
        background-color: rgb(237, 237, 237);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px !important;
    }
    #nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .top-container{
        flex-direction: column;
        align-items: center;
        margin-top: -40px !important;
        margin-right: 14px !important;
        border-radius: 50%;
        float: left !important;
    }
    #nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .text-container{
        display: block  !important;
    }
    #nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .text-container h5{
        text-align: center;
    }
    /*------------------------------------*/
}
@media(min-width: 600px){
    :root{
        --app-bar-height: 64px;
    }
    #app-bar{
        height: var(--app-bar-height) !important;
    }
    #page-content, #hero{
        height: calc(var(--body-height) - var(--app-bar-height)) !important;
        top: var(--app-bar-height);
    }
}
@media(min-width: 0px) and (max-width: 599px){
    :root{
        --app-bar-height: 70px;
    }
    #app-bar{
        height: var(--app-bar-height) !important;
    }
     #page-content, #hero{
        height: calc(100vh - var(--app-bar-height)) !important;
        top: var(--app-bar-height);
    }
}
@media(min-width: 576px) and (max-width: 767px){
    :root{
        --logo-outer-width: 14.1rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.5rem;
    }
    .menu-btn{
        width: calc(100% - var(--logo-outer-width)) !important;
    }
}
@media(max-width: 575px){
    /*---------Regras gerais-----*/
    .text-box-float .text-box-float-inner{
        background-color: rgba(255, 255, 255, 0.6);
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    #sobre-a-empresa .text-box-float-inner,
    #fale-conosco .text-box-float-inner{
        margin-top: -12rem;
    }
    /*--------------------------------*/
    /*---------Pagina inicial-----------*/
    #sobre-nos-index .description > div {
        margin-left: 1.2rem !important;
        margin-right: 1.2rem !important;
    }
    #sobre-nos-index .text-box-float-inner{
        margin-top: -9rem;
    }
    /*---------------------------*/
}
@media(min-width: 480px) and (max-width: 575px){
    :root{
        --logo-outer-width: 12.8rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.4rem;
    }
    .menu-btn{
        width: calc(100% - var(--logo-outer-width)) !important;
    }
}
@media(min-width: 281px ) and (max-width: 479px){
    :root{
        --logo-outer-width: 10.2rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.1rem;
    }
    .menu-btn{
        width: calc(100% - var(--logo-outer-width)) !important;
    }
    
}

/*--------Regras gerais------------*/
body{
    width: var(--body-width);
    height: var(--body-height);
    overflow-x: hidden !important;
    font-family: 'Montserrat', sans-serif !important;
}
#page-content{
    overflow-x: hidden !important;
    scroll-behavior: smooth !important;

}

.relative{
    position: relative !important;
}
.float-container, #atuacao .list-container{
    position: relative;
    z-index: 2;
}

.hide{
    display: none !important;
}
button:focus{
    outline: none !important;
}
.nav-toolbar{
    height: 100% !important;
}
.navbar-logo{
    height: 100%;
}
#nav-desktop{
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: inline-flex;
    list-style: none;
}
#mobile-nav-app-bar #mobile-nav-control button{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#mobile-nav-app-bar #mobile-nav-control .navbar-toggler{
    font-size: 1.5rem;
}
.nav-a{
    text-decoration: none !important;
    color: unset;
}
#mobile-nav-content{
    width: 80vw;
    height: calc(100vh - 69px);
    position: absolute;
    top: 69px;
    left: 0;
    z-index: 2;
    --animate-duration: 0.4s;
}
#hero img{
    filter: brightness(0.87);
}
#hero #hero-content{
    position: relative;
    filter: drop-shadow(0 0 0.75rem black);
}
#hero #hero-content h1{
    font-weight: 700;
}
#hero #hero-content p{
    font-weight: 500;
}
.img-container-layout-fill img,
.navbar-logo .logo-outer img {
    width: 100% !important;
    height: 100% !important; 
}
.img-container-layout-fill > span,
.navbar-logo .logo-outer > span{
    display: unset  !important;
    width: 100% !important;
    height: 100% !important;
} 
.img-container-layout-fill > span > span,
.navbar-logo .logo-outer > span > span {
    position:unset !important;
    display: unset !important;
} 
.img-container-layout-fill img,
.navbar-logo .logo-outer img {
    max-width: unset !important;
    min-width: unset !important;
    max-height: unset !important;
    min-height: unset !important;
    position: unset !important;
} 
#atuacao .list-container ul .active > span:after {
    position: absolute;
    top: 20px;
    bottom: 10px;
    right: -1px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
}
#atuacao #list-content .list-item-context i{
    font-size: 5rem !important;
}
#sobre-a-empresa #img-1 > div, #fale-conosco #img-1 > div, #nossos-servicos #img-top > div {
    height: 100% !important; 
}
#sobre-a-empresa #section-3 i, #localizacao i {
    font-size: 7rem;
}
.map{
    height: 100%;
}
#footer{
    height: 150px;
}

#footer .first-line{

}
#footer .second-line{
    
}
/*-----------------------------------*/

/*--------Página Fale consosco---------*/
#fale-conosco  #subject{
    border-color: #ced4da;
    border-radius: 5px;
    outline: none;
}
.facebook-btn-logo{
    color: rgb(96, 107, 255);
}
.whatsapp-btn-logo{
    color: rgb(98, 177, 115)
}
.instagram-btn-logo{
    color: rgb(229 121 121);
}
/*---------------------------------*/
/*--------Página Nossos serviços-------*/
#nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .top-container{
    border-radius: 100%;
}
#nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .top-container .pic-container > span{
    position: unset !important;
}
#nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .top-container .pic-container{
    width: 4.5rem !important;
    height: 4.5rem !important;
}
#nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .top-container .professional-pic{
    border-radius: 100px !important;
}
#nossos-servicos #pratice-areas .pratice-area .pratice-area-professional .text-container *{
    margin-left: 8px;
}
/*------------------------------------*/

