@charset "UTF-8";

body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
}
.relative{
    position: relative !important;
}
.hide{
    display: none !important;
}
button:focus{
    outline: none !important;
}

#hero img{
    filter: brightness(0.87);
}
#hero #hero-content{
    position: relative;
    filter: drop-shadow(0 0 0.75rem black);
}
#hero #hero-content h1{
    font-weight: 700;
}
#hero #hero-content p{
    font-weight: 500;
}

@media (max-width: 404px){
    h1{
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.8rem  !important; 
    }
}
@media(min-width: 0px) and (max-width: 599px){
    :root{
        --app-bar-height: 70px;
    }
    #app-bar{
        height: var(--app-bar-height) !important;
    }
     #page-content, #hero{
        height: calc(100vh - var(--app-bar-height)) !important;
        top: var(--app-bar-height);
    }
    /*
    #page-content{
        top: var(--app-bar-height) !important;
    } */
}
@media(min-width: 583px) and (max-width: 599px){
    /* :root{
        --app-bar-height: 48px;
    } */
    /* #app-bar{
        height: var(--app-bar-height) !important;
    }
    #home, #page-content{
        height: calc(100vh - var(--app-bar-height)) !important;
    }
    #page-content{
        top: var(--app-bar-height) !important;
    } */
}
@media(min-width: 600px){
    :root{
        --app-bar-height: 64px;
    }
    #app-bar{
        height: var(--app-bar-height) !important;
    }
    #page-content, #hero{
        height: calc(100vh - var(--app-bar-height)) !important;
        top: var(--app-bar-height);

    }
}
.nav-toolbar{
    height: 100% !important;
}
.navbar-logo{
    height: 100%;
}
#nav-desktop{
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: inline-flex;
    list-style: none;
}
#mobile-nav-app-bar #mobile-nav-control button{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#mobile-nav-app-bar #mobile-nav-control .navbar-toggler{
    font-size: 1.5rem;
}

.navbar-logo .logo-outer > span{
    display: unset  !important;
    width: 100% !important;
    height: 100% !important;
}
.navbar-logo .logo-outer > span > span{
    position:unset !important;
    display: unset !important;
}
.navbar-logo .logo-outer img{
    width: 100% !important;
    height: 100% !important; 
}
.navbar-logo .logo-outer img{
    max-width: unset !important;
    min-width: unset !important;
    max-height: unset !important;
    min-height: unset !important;
    position: unset !important;
}
.nav-a{
    text-decoration: none !important;
    color: unset;
}
#mobile-nav-content{
    width: 80vw;
    height: calc(100vh - 69px);
    position: absolute;
    top: 69px;
    left: 0;
    z-index: 2;
    --animate-duration: 0.4s;
}

@media(min-width: 768px){
    #sobre-nos-index .img-container-layout-fill{
        min-height: 400px;
    }
    #atuacao ul{
        min-width: 80%;
    }
    #atuacao #list-content{
        justify-content: end !important;
    }
    #atuacao #list-content .list-item-context{
        justify-content: end;
    }
}
@media(max-width: 767px){
    #sobre-nos-index{
        padding-left: 0px  !important;
        padding-right: 0px  !important;
    }
    #sobre-nos-index .img-container-layout-fill{
        min-height: 220px;
    }    
    #sobre-nos-index .description{
        order: 2;
        position: relative;
        z-index: 2;
    }
    #sobre-nos-index .description > div {
        background-color: rgba(255, 255, 255, 0.6);
        margin-top: -80px;
        margin-left: 3rem !important;
        margin-right: 3rem !important;
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    #atuacao #list-content{
        height: 400px !important;
        justify-content: center !important;
    }
    #atuacao #list-content .list-item-context{
        justify-content: center;
    }
    #atuacao ul, #atuacao #list-content .list-item-context{
        min-width: 90%;
    }
}
@media(max-width: 575px){
    #sobre-nos-index .description > div {
        margin-left: 1.2rem !important;
        margin-right: 1.2rem !important;
    }
}

#sobre-nos-index  i{
    width: 70px;
    height: 70px;
}

#atuacao .list-container{
    position: relative;
    z-index: 2;
}
#atuacao .list-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#atuacao .list-container ul .active > span:after {
    position: absolute;
    top: 20px;
    bottom: 10px;
    right: -1px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
}
#atuacao #list-content .list-item-context i{
    font-size: 5rem !important;
}



/*-----Página quem-somos -----*/
#sobre-a-empresa .img-container-layout-fill{
    height: 300px !important;
}
#sobre-a-empresa .section-description .text-box-float .text-box-float-inner{
    top: -90px !important
}

/*----------------------------*/




/*--------Regras gerais------------*/
.img-container-layout-fill img{
    width: 100% !important;
    height: 100% !important; 
}

#new-section{
    width: 100vw;
    height: 100vh;    
}
.img-container-layout-fill > span{
    display: unset  !important;
    width: 100% !important;
    height: 100% !important;
} 
.img-container-layout-fill > span > span{
    position:unset !important;
    display: unset !important;
} 
.img-container-layout-fill img{
    max-width: unset !important;
    min-width: unset !important;
    max-height: unset !important;
    min-height: unset !important;
    position: unset !important;
} 

.text-box-float{
    position: relative;
    z-index: 2;
}

.text-box-float-inner{
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: -80px;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}

/*---------------------------------*/


/*
#page-content{
    scroll-behavior: smooth;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
} */
@media(min-width: 200px) and (max-width: 280px){

    /* #quem-somos .img-container-layout-fill{
        width: 180px;
        height: 180px;
    } */
}
@media(min-width: 281px ) and (max-width: 479px){
    :root{
        --logo-outer-width: 10.2rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.1rem;
    }
    .menu-btn{
        width: calc(100% - var(--logo-outer-width)) !important;
    }
    /* #quem-somos .img-container-layout-fill{
        min-width: 200px ;
        min-height: 200px;
        max-height: 280px;
        max-width: 280px;
    } */
}
@media(min-width: 480px) and (max-width: 575px){
    :root{
        --logo-outer-width: 12.8rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.4rem;
    }
    .menu-btn{
        width: calc(100% - var(--logo-outer-width)) !important;
    }
}
@media(min-width: 576px) and (max-width: 767px){
    :root{
        --logo-outer-width: 14.1rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.5rem;
    }
    .menu-btn{
        width: calc(100% - var(--logo-outer-width)) !important;
    }
    /* #quem-somos .img-container-layout-fill{
        min-width: 240px;
        min-height: 240px;
        max-width: 285px;
        max-height: 285px;
    } */
}
@media(min-width: 768px){
    :root{
        --logo-outer-width: 14.5rem;
        --app-bar-height: 80px;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 2.7rem;
    }

    #app-bar{
        height: var(--app-bar-height) !important;
    }
    /* #quem-somos .img-container-layout-fill{
        max-width: 280px;
        max-height: 280px;
    } */
}
@media(min-width: 810px){
    :root{
        --logo-outer-width: 15.7rem;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
    }

}
@media(min-width: 992px){ 
    :root{
        --logo-outer-width: 16.2rem;
        --app-bar-height: 80px;
    }
    .navbar-logo .logo-outer{
        width: var(--logo-outer-width);
        height: 3rem;
    }
    /*Quando a viewport possuir esta medida, significa que não será mais necessário exibir os itens em formato de slide.
     e por isso não será aplicado nenHum display ao item, bem como a centralização.
     Sendo os slides desnecerários, as navegações pelos botões "dots" também serão.
     */
    /* .glider-slide img{
        width: 150px !important;
        height: 150px !important;
    }
    .glider-track{
        display: flex;
        justify-content: center;
    } */
}

/* 
#onde-estamos .img-container-layout-fill, #map{
    width: 100% !important
 } */

/* @media(max-width: 320px){
    #onde-estamos .img-container-layout-fill, #map{
        height: 230px;
    }
}
@media(min-width: 321px) and (max-width: 477px){
    #onde-estamos .img-container-layout-fill, #map{
        height: 270px ;
     } 
}
@media(min-width: 478px) and (max-width: 529px){
    #onde-estamos .img-container-layout-fill, #map{
        height: 300px ;
     } 
}

@media(min-width: 530px) and (max-width: 767px){
    #onde-estamos .img-container-layout-fill, #map{
        height: 320px ;
     }
}
@media (min-width: 768px){

    #onde-estamos .img-container-layout-fill, #map{
        height: 224px !important;
     }
}

@media (min-width: 992px){

    #onde-estamos .img-container-layout-fill, #map{
        height: 300px !important;
     }
}
@media (min-width: 1200px){

    #onde-estamos .img-container-layout-fill, #map{
        height: 320px !important;
     }
} */

.img-outer{
    width: 100%;
    height: 100%;
}
/* 
.card-text-box {
    overflow: hidden;
    display: -webkit-box !important;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-overflow: ellipsis;
}
.card-img-top{
    background: linear-gradient(0deg, rgba(196,194,194,1) 0%, rgba(143,143,143,1) 50%, rgba(196,194,194,1) 100%);
    width: 100% !important;
    height: 180px; 
} */

@media (min-width: 420px) and (max-width: 767px){

}
@media (min-width: 768px){

}
@media (min-width: 1100px){

}
@media (min-width: 1200px){

}


@media(max-width: 575px) { 

}
@media(min-width: 576px) and (max-width: 799px){

}
@media(min-width: 800px){

}
